<mat-toolbar class="mat-elevation-z3" style="position: relative;">
  <mat-toolbar-row>
    <span>SHELL</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div routerLink="dashboard" class="app-link-button" routerLinkActive="active">Dashboards</div>
    <div *ngFor='let module of _modules$ | async' [routerLink]="module.routePath" class="app-link-button" routerLinkActive="active">{{module.displayName}}</div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="flex-grow: 1; display: flex; flex-direction: column;">
  <router-outlet></router-outlet>
</div>